@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Erişim yok";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Kaynağa erişiminiz bulunmamaktadır.</p>
</header>
