@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-posta doğrulama";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        E-posta adresinizi doğruladığınız için teşekkürler.
    </p>
</div>
