@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifremi unuttum doğrulaması";
}

<h1>@ViewData["Title"]</h1>
<p>
    Lütfen şifrenizi sıfırlamak için e-posta adresinizi kontrol ediniz.
</p>

