@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Kurtarma kodu doğrulaması";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Kurtarma kodu ile giriş yapmayı talep ettiniz. Bu giriş kimlik doğrulama kodu girene kadar veya iki faktörlü giriş yapma devre dışı bırakıp tekrar giriş yapana kadar hatırlanmayacaktır.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Giriş yap</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
