@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre sıfırlama doğrulaması";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz sıfırlandı. Lütfen <a asp-page="./Login">giriş yapmak için tıklayınız</a>.
</p>
