@model fiQuiz.Models.Question

@{
    ViewData["Title"] = "Soru Oluştur";
}

<h1>Soru Oluştur</h1>
<h4>Soru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWithAnswers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <textarea asp-for="QuestionText" class="form-control"></textarea>
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            @for (int ai = 0; ai < Model.Answers.Count; ai++)
            {
                <div class="form-group">
                    <label asp-for="Answers[ai].Answer" class="control-label">@(ai == 0 ? "Doğru Cevap" : (ai + ". Yanlış Cevap"))</label>
                    <input asp-for="Answers[ai].Answer" class="form-control" />
                    <span asp-validation-for="Answers[ai].Answer" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Answers[ai].QuestionId" />
                <input type="hidden" asp-for="Answers[ai].Id" />
                <input type="hidden" asp-for="Answers[ai].IsCorrect" />
            }
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

