$color0: white;
$color1: rgba(254, 147, 140, 1);
$color2: rgba(230, 184, 156, 1);
$color3: rgba(234, 210, 172, 1);
$color4: rgba(156, 175, 183, 1);
$color5: rgba(66, 129, 164, 1);

$primary: $color5;
$secondary: $color1;

$yiq-contrasted-threshold: 200;


$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
